@model X.PagedList.IPagedList<AulaViewModel>
@using X.PagedList.Mvc.Core;

<table class="table table-responsive table-striped">
    <tr>
        <td>Ações</td>
        <td>Código</td>
        <td>Data da Aula</td>
        <td>Aluno</td>
        <td>Exercício 1</td>
        <td>Exercício 2</td>
        <td>Exercício 3</td>

    </tr>

    @foreach (AulaViewModel ex in Model)
    {
        <tr>
            <td>
                @if (ViewBag.AlunoInstrutor == "I")
                {
                    <a href="/Aula/Edit?id=@ex.Id">Editar</a> <br />
                    <a href="javascript:apagar(@ex.Id, 'Aula')">Apagar</a>
                }

            </td>
            <td>@ex.Id</td>
            <td>@ex.dataAula.ToShortDateString()</td>
            <td>@ex.IdAluno - @ex.NomeAluno</td>
            <td>@ex.Ex1 - @ex.NomeExercicio1</td>
            <td>@ex.Ex2 - @ex.NomeExercicio2</td>
            <td>@ex.Ex3 - @ex.NomeExercicio3</td>

        </tr>
    }

</table>


@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))

