@model List<AnamneseViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listagem de Avaliações - Anamnese</h1>

<a href="/Home/Index">Voltar</a>
<br />

@*Colocar Filtro RA aluno e Data*@

<table class="table table-responsive table-striped">
    <tr>
        <td>Ações</td>
        <td>Código</td>
        <td>Aluno</td>
        <td>Data</td>
        <td>Peso</td>
        <td>Altura</td>
        <td>Elasticidade</td>
    </tr>

    @foreach (var aluno in Model)
    {
        <tr>
            <td>
                <a href="/Aluno/Edit?id=@aluno.Id">Imprimir</a> &nbsp;&nbsp;
            </td>
            <td>@aluno.Id</td>
            <td>@aluno.IdAluno - @aluno.NomeAluno</td>
            <td>@aluno.DataAvaliacao.ToShortDateString()</td>
            <td>@aluno.Peso kg</td>
            <td>@aluno.Altura m</td>
            <td>@aluno.Elasticidade</td>
        </tr>
    }
</table>

