@model AnamneseViewModel 
@{
    ViewData["Title"] = "Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Anamnese</h1>

<h2>Aluno : @Model.NomeAluno</h2>
<h2>Ra do Aluno : @Model.IdAluno</h2>
<h2>Instrutor  : @Model.NomeAluno</h2>
<h2>Ra do Instrutor : @Model.IdInstrutor</h2>

<br />
<br />

<h2>Data da Avaliação : @Model.DataAvaliacao</h2>

<br />
<br />

<h3>Peso : @Model.Peso</h3>
<h3>Altura : @Model.Altura</h3>
<h3>Elasticidade : @Model.Elasticidade</h3>