@model X.PagedList.IPagedList<ExercicioViewModel>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*TELA INICIAL DE EXERCICIOS - LISTAGEM DE TODOS OS EXERCICIOS EXISTENTES*@

<head>
    <link rel="stylesheet" href="~/css/ListagemDeAlunos.css"/>
</head>

<body>

    <div id="listagem">

        <h4>Listagem de Exercicios</h4>

        <a href="/Exercicio/create">Novo Exercício</a>
        <br />


        <table class="table table-responsive table-striped">
            <tr>
                <td>Ações</td>
                <td>Código</td>
                <td>Nome</td>
                <td>Descrição</td>

            </tr>

            <br />

            @foreach (ExercicioViewModel ex in Model)
            {
                <tr>
                    <td>
                        @if (ViewBag.AlunoInstrutor == "I")
                        {
                            <a href="/Exercicio/Edit?id=@ex.Id">Editar</a> <br />
                            <a href="javascript:apagar(@ex.Id, 'Exercicio')">Apagar</a>
                        }

                    </td>
                    <td>@ex.Id</td>
                    <td>@ex.Nome</td>
                    <td>@ex.Descricao</td>

                </tr>
            }

        </table>

        @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))

    </div>

</body>